In [2]:
import numpy as np
import pandas as pd

In [3]:
gallup = pd.read_csv('USAIPO1936-0053.csv')

In [6]:
gallup.head(3).T

,0,1,2
form,NaN,NaN,NaN
state,Indiana,Illinois,Michigan
region,East Central,East Central,East Central
female,Male,Male,Male
age,NaN,NaN,NaN
class,Av+,Av+,Av
OCCUPATION1,Skilled workers,Skilled workers,Business
OCCUPATION2,NaN,NaN,NaN
OCCUPATION3,NaN,NaN,NaN
black,NaN,NaN,NaN
size,Urban,Urban,Urban
education,NaN,NaN,NaN
AGE_3WAY,NaN,NaN,NaN
AGE40,NaN,NaN,NaN
OCC8,Labor,Labor,Professional
prof,Not Professional,Not Professional,Professional
REGION4,Midwest,Midwest,Midwest
EDU_RECODE,NaN,NaN,NaN
VOTE_PRO,Landon,Landon,Landon
VOTE_RETRO,Hoover,Hoover,Hoover
PHONE_RECODE,NaN,NaN,NaN
CAR_RECODE,NaN,NaN,NaN
ballot,53,53,53
Q1,Yes,Yes,No
Q2,Yes,NaN,No
Q3,Yes,Yes,Yes
Q4A,Roosevelt,Landon,Landon
Q4B,Roosevelt,Landon,Landon
Q4C,Landon,Landon,Landon
Q5A,Landon,Landon,Landon
Q5B,"Yes, voted for Hoover","Yes, voted for Hoover","Yes, voted for Hoover"
farm,Non-Farm,Non-Farm,Non-Farm
SIZE3,Urban,Urban,Urban
urban,Urban,Urban,Urban
StPOAbrv,in,il,mi
SOUTH11,Non-South,Non-South,Non-South
SOUTH11xBLACK,NaN,NaN,NaN
SOUTH12,Non-South,Non-South,Non-South
SOUTH12xBLACK,NaN,NaN,NaN
south,Non-South,Non-South,Non-South
SOUTHxBLACK,NaN,NaN,NaN
year,1936,1936,1936
WtPubFeas,NaN,NaN,NaN
WtVotFeas,NaN,NaN,NaN

In [7]:
pd.crosstab(gallup['Q5A'], gallup['Q3'])

Q3            No   Yes
Q5A
Landon       921   820
Lemke         41   109
Other party    6     6
Roosevelt    442  2048
Thomas        10    41